* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

:root {
  --primary-color:  #16479d;
  --secondary-color: #ffd400;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 1em;
  font-size: 2em;
}

.bold {
  font-weight: bold;
  color: var(--primary-color);
}
.over-hidden {
  overflow: hidden;
}

@media (max-width: 396px) {
  body {
    font-size: .8em;
  }
}